<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto.pdm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ControlActividadesMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TipoGrupoMenuActivity" />
        <activity android:name=".TipoGrupoInsertarActivity" />
        <activity android:name=".TipoGrupoActualizarActivity" />
        <activity android:name=".TipoGrupoEliminarActivity" />
        <activity android:name=".TipoGrupoConsultarActivity" />
        <activity android:name=".GrupoMateriaMenuActivity" />
        <activity android:name=".GrupoMateriaInsertarActivity" />
        <activity android:name=".GrupoMateriaActualizarActivity" />
        <activity android:name=".GrupoMateriaEliminarActivity" />
        <activity android:name=".GrupoMateriaConsultarActivity" />
        <activity android:name=".HorarioMenuActivity" />
        <activity android:name=".HorarioInsertarActivity" />
        <activity android:name=".HorarioActualizarActivity" />
        <activity android:name=".HorarioEliminarActivity" />
        <activity android:name=".HorarioConsultarActivity" />
        <activity android:name=".CicloMenuActivity" />
        <activity android:name=".CicloInsertarActivity" />
        <activity android:name=".CicloActualizarActivity" />
        <activity android:name=".CicloEliminarActivity" />
        <activity android:name=".CicloConsultarActivity" />
        <activity android:name=".MateriaMenuActivity" />
        <activity android:name=".MateriaInsertarActivity" />
        <activity android:name=".MateriaActualizarActivity" />
        <activity android:name=".MateriaEliminarActivity" />
        <activity android:name=".MateriaConsultarActivity" />
        <activity
            android:name=".DocenteMenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_docente_menu"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".DocenteInsertarActivity" />
        <activity android:name=".DocenteActualizarActivity" />
        <activity android:name=".DocenteEliminarActivity" />
        <activity android:name=".DocenteConsultarActivity" />
        <activity android:name=".ReservaMenuActivity" />
        <activity android:name=".ReservaInsertarActivity" />
        <activity android:name=".ReservaActualizarActivity" />
        <activity android:name=".ReservaEliminarActivity" />
        <activity android:name=".ReservaConsultarActivity" />
        <activity android:name=".CargoMenuActivity" />
        <activity android:name=".CargoInsertarActivity" />
        <activity android:name=".CargoActualizarActivity" />
        <activity android:name=".CargoEliminarActivity" />
        <activity android:name=".CargoConsultarActivity" />
        <activity android:name=".CargaAcademicaMenuActivity" />
        <activity android:name=".CargaAcademicaInsertarActivity" />
        <activity android:name=".CargaAcademicaActualizarActivity" />
        <activity android:name=".CargaAcademicaEliminarActivity" />
        <activity android:name=".CargaAcademicaConsultarActivity" />
        <activity android:name=".RecursoMenuActivity" />
        <activity android:name=".RecursoInsertarActivity" />
        <activity android:name=".RecursoActualizarActivity" />
        <activity android:name=".RecursoEliminarActivity" />
        <activity android:name=".RecursoConsultarActivity" />
        <activity android:name=".ActividadMenuActivity" />
        <activity android:name=".ActividadInsertarActivity" />
        <activity android:name=".ActividadActualizarActivity" />
        <activity android:name=".ActividadEliminarActivity" />
        <activity android:name=".ActividadConsultarActivity" />
        <activity android:name=".CategoriaRecursoMenuActivity" />
        <activity android:name=".CategoriaRecursoInsertarActivity" />
        <activity android:name=".CategoriaRecursoActualizarActivity" />
        <activity android:name=".CategoriaRecursoEliminarActivity" />
        <activity android:name=".CategoriaRecursoConsultarActivity" />
        <activity android:name=".ReservaActividadMenuActivity" />
        <activity android:name=".ReservaActividadInsertarActivity" />
        <activity android:name=".ReservaActividadActualizarActivity" />
        <activity android:name=".ReservaActividadEliminarActivity" />
        <activity android:name=".ReservaActividadConsultarActivity"></activity>
    </application>

</manifest>
